.paginationBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0 40px;

  .button {
    font-family: 'Roboto';
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #474955;
    border: 0;
    background: transparent;
    transition: 0.3s ease;
    cursor: pointer;

    &.disabled {
      pointer-events: none;
      opacity: 0.4;
    }

    &:hover {
      color: #7EBC3C;
      transition: 0.3s ease;
    }
  }

  .numbersPages {
    display: flex;
    align-items: center;

    a {
      font-family: 'Roboto';
      text-decoration: none;
      font-style: italic;
      font-weight: 700;
      font-size: 18px;
      color: #474955;
      padding-right: 10px;
      cursor: pointer;

      &.active {
        color: #7EBC3C;
      }
      &:hover {
        color: #7EBC3C;
      }
    }
  }

}


