.table {
  width: 100%;
  margin: 0 auto;
  border: 1px;
  border-collapse: collapse;
}

.id {
  border: none;
  height: 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  background: #474955;
  width: 10.2%;
}

.title {
  border: none;
  height: 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  background: #474955;
  width: 40.6px;
}

.body {
  border: none;
  height: 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  background: #474955;
  width: 40.2%;
}


span {
  margin-right: 25px;
  cursor: pointer;
}

.sorted {
  color: #7EBC3C;
}

.arrow {
  transform: rotate(180deg);
}