.searchField {
    min-width: 630px;
    padding: 16px 60px 16px 26px;
    border: 0;
    outline: none;
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
    background: #5A5C66 url("../../assets/icons/search.svg") 95% 50% no-repeat ;
}

